.frame92 {
  position: absolute;
  top: 50px;
  left: 1509px;
  width: 127px;
  height: 31px;
}
.frame95,
.rectangle40 {
  position: absolute;
  top: 288px;
  left: -21.13px;
}
.rectangle40 {
  top: 0;
  left: 0;
  border-radius: var(--br-5xl);
  background-color: var(--color-darkorchid);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 161px;
  height: 42px;
}
.get-started1 {
  position: absolute;
  top: 11px;
  left: 27px;
  line-height: 20px;
  text-transform: uppercase;
  display: inline-block;
  width: 106px;
}
.frame96 {
  position: absolute;
  top: 288.41px;
  left: 0.48px;
  width: 161px;
  height: 42px;
  cursor: pointer;
  text-align: center;
}
.s1,
.solusi-booking-tempat1 {
  position: absolute;
  display: inline-block;
}
.s1 {
  top: 50px;
  left: 0.83px;
  font-size: var(--font-size-91xl);
  letter-spacing: 0.48px;
  line-height: 96px;
  font-family: var(--font-poppins);
  width: 670.23px;
}
.solusi-booking-tempat1 {
  top: 199.41px;
  left: 0;
  font-size: var(--font-size-2xl);
  line-height: 24.34px;
  color: var(--color-silver);
  width: 464.98px;
}
.frame93,
.frame94,
.image-icon53 {
  position: absolute;
  top: 0;
  left: 15.92px;
  width: 469.68px;
  height: 330px;
}
.frame93,
.image-icon53 {
  top: 235px;
  left: 77px;
  width: 938.22px;
}
.image-icon53 {
  top: 0;
  left: 0;
  border-radius: var(--br-lg);
  width: 1463.77px;
  height: 370px;
  object-fit: cover;
}
.frame-child181 {
  position: absolute;
  top: 34.41px;
  left: 56.76px;
  border-radius: var(--br-11xl);
  background-color: var(--color-darkslategray-100);
  filter: blur(90px);
  width: 473px;
  height: 149px;
}
.rectangle41 {
  position: absolute;
  top: 0;
  left: 0;
  width: 532.28px;
  height: 54px;
}
.ruangan-paling-sering1 {
  position: absolute;
  top: 2px;
  left: 0;
  line-height: 27px;
  display: inline-block;
  width: 522.97px;
}
.frame101 {
  position: absolute;
  top: 110.41px;
  left: 93.15px;
  width: 532.28px;
  height: 54px;
}
.ruangan-terfavorit1 {
  position: absolute;
  top: 41.41px;
  left: 93.15px;
  font-size: var(--font-size-20xl);
  line-height: 40px;
  display: inline-block;
  width: 679.99px;
}
.frame100 {
  position: absolute;
  top: 75.59px;
  left: 26.61px;
  width: 773.14px;
  height: 218px;
}
.rectangle42 {
  top: 111px;
  width: 1463.77px;
  height: 259px;
}
.frame99,
.image-icon54,
.rectangle42 {
  position: absolute;
  left: 0;
}
.frame99 {
  top: 0.41px;
  width: 1463.77px;
  height: 370px;
  overflow: hidden;
  cursor: pointer;
  font-size: var(--font-size-lg);
}
.image-icon54 {
  top: 0;
  border-radius: var(--br-lg);
  width: 467.08px;
  height: 320px;
  object-fit: cover;
}
.frame-child182 {
  position: absolute;
  top: -0.59px;
  left: -6.08px;
  background-color: var(--color-darkslategray-200);
  filter: blur(90px);
  width: 114px;
  height: 71px;
}
.rectangle43 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-base);
  background-color: var(--color-blueviolet);
  width: 115.77px;
  height: 18px;
}
.rating-781 {
  position: absolute;
  top: -1px;
  left: 15.97px;
  line-height: 18px;
  display: inline-block;
  width: 83.83px;
}
.frame105,
.room-054 {
  position: absolute;
  left: 0;
}
.frame105 {
  top: 8.41px;
  width: 115.77px;
  height: 18px;
}
.room-054 {
  top: 37.41px;
  font-size: var(--font-size-lg);
  line-height: 25.2px;
  display: inline-block;
  width: 121.09px;
}
.frame103,
.frame104 {
  position: absolute;
  top: 0;
  left: 0;
  width: 311.38px;
  height: 63px;
}
.frame103 {
  top: 207.59px;
  left: 42.6px;
  width: 381.45px;
}
.frame102,
.rectangle44 {
  position: absolute;
  top: 96px;
  left: 0;
  width: 467.08px;
  height: 224px;
}
.frame102 {
  top: 394.41px;
  height: 320px;
  overflow: hidden;
  cursor: pointer;
}
.frame-child183 {
  position: absolute;
  top: -0.59px;
  left: -5.62px;
  background-color: var(--color-darkslategray-200);
  filter: blur(90px);
  width: 114px;
  height: 71px;
}
.frame109 {
  position: absolute;
  top: 8.41px;
  left: 0.46px;
  width: 115.77px;
  height: 18px;
}
.room-034 {
  position: absolute;
  top: 37.41px;
  left: 0.52px;
  font-size: var(--font-size-lg);
  line-height: 25.2px;
  display: inline-block;
  width: 203.72px;
}
.frame106,
.frame107 {
  position: absolute;
  top: 207.59px;
  left: 42.82px;
  width: 381.45px;
  height: 63px;
}
.frame106 {
  top: 394.41px;
  left: 499.01px;
  width: 467.08px;
  height: 320px;
  overflow: hidden;
  cursor: pointer;
}
.frame-child184 {
  position: absolute;
  top: -0.59px;
  left: -6.15px;
  background-color: var(--color-darkslategray-200);
  filter: blur(90px);
  width: 114px;
  height: 71px;
}
.rectangle47 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-base);
  background-color: var(--color-blueviolet);
  width: 98.47px;
  height: 18px;
}
.rating-761 {
  position: absolute;
  top: -1px;
  left: 15.97px;
  line-height: 18px;
  display: inline-block;
  width: 66.54px;
}
.frame113,
.room-065 {
  position: absolute;
  left: -0.42px;
}
.frame113 {
  top: 8.41px;
  width: 98.47px;
  height: 18px;
}
.room-065 {
  top: 37.41px;
  font-size: var(--font-size-lg);
  line-height: 25.2px;
  display: inline-block;
  width: 166.34px;
}
.frame110,
.frame111,
.frame112 {
  position: absolute;
  top: 4px;
  left: 0.24px;
  width: 311.38px;
  height: 63px;
}
.frame110,
.frame111 {
  top: 207.59px;
  left: 43.24px;
  width: 381.45px;
}
.frame110 {
  top: 394.41px;
  left: 996.7px;
  width: 467.08px;
  height: 320px;
  overflow: hidden;
  cursor: pointer;
}
.rectangle49 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-base);
  background-color: var(--color-blueviolet);
  width: 110.45px;
  height: 18px;
}
.rating-901 {
  position: absolute;
  top: -1px;
  left: 15.97px;
  line-height: 18px;
  display: inline-block;
  width: 78.51px;
}
.frame117,
.room-024 {
  position: absolute;
  left: 0;
}
.frame117 {
  top: 8.41px;
  width: 110.45px;
  height: 18px;
}
.room-024 {
  top: 39.41px;
  font-size: var(--font-size-lg);
  line-height: 25.2px;
  display: inline-block;
  width: 246.18px;
}
.frame115,
.frame116 {
  position: absolute;
  top: 0;
  left: 0;
  width: 311.38px;
  height: 88px;
}
.frame115 {
  top: 207.59px;
  left: 42.6px;
  width: 381.45px;
}
.frame114,
.rectangle51 {
  position: absolute;
  left: 0;
}
.frame114 {
  top: 738.41px;
  width: 467.08px;
  height: 320px;
  overflow: hidden;
  cursor: pointer;
  font-size: var(--font-size-xs);
}
.rectangle51 {
  top: 0;
  border-radius: var(--br-base);
  background-color: var(--color-blueviolet);
  width: 123.76px;
  height: 18px;
}
.rating-891 {
  position: absolute;
  top: -1px;
  left: 15.97px;
  line-height: 18px;
  display: inline-block;
  width: 91.82px;
}
.frame121,
.room-015 {
  position: absolute;
  left: 0.46px;
}
.frame121 {
  top: 8.41px;
  width: 123.76px;
  height: 18px;
}
.room-015 {
  top: 39.41px;
  font-size: var(--font-size-lg);
  line-height: 25.2px;
  display: inline-block;
  width: 256.83px;
}
.frame118,
.frame119 {
  position: absolute;
  top: 207.59px;
  left: 42.82px;
  width: 381.45px;
  height: 88px;
}
.frame118 {
  top: 738.41px;
  left: 499.01px;
  width: 467.08px;
  height: 320px;
  overflow: hidden;
  cursor: pointer;
}
.frame125,
.room-077 {
  position: absolute;
  left: -0.42px;
}
.frame125 {
  top: 8.41px;
  width: 110.45px;
  height: 18px;
}
.room-077 {
  top: 37.41px;
  font-size: var(--font-size-lg);
  line-height: 25.2px;
  display: inline-block;
  width: 192.95px;
}
.rectangle54 {
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
}
.frame126,
.frame127,
.rectangle54 {
  position: absolute;
  width: 30px;
  height: 30px;
}
.frame127 {
  top: 0;
  left: 0;
  overflow: hidden;
}
.frame126 {
  top: 33.41px;
  left: 363.69px;
}
.frame122,
.frame123 {
  position: absolute;
  top: 207.59px;
  left: 42.11px;
  width: 381.45px;
  height: 63px;
}
.frame122 {
  top: 738.41px;
  left: 996.7px;
  width: 467.08px;
  height: 320px;
  overflow: hidden;
  cursor: pointer;
  font-size: var(--font-size-xs);
}
.frame98 {
  position: absolute;
  top: 101px;
  left: 26.61px;
  width: 1463.77px;
  height: 1058px;
}
.get-started2 {
  position: absolute;
  top: -3.59px;
  left: 0.65px;
  letter-spacing: 0.68px;
  line-height: 42px;
  display: inline-block;
  width: 410.14px;
}
.berikut-beberapa-list1 {
  position: absolute;
  top: 41.41px;
  left: 0;
  font-size: var(--font-size-xl);
  line-height: 27.3px;
  color: var(--color-silver);
  display: inline-block;
  width: 1246.87px;
}
.frame128,
.frame97 {
  position: absolute;
  top: 10px;
  left: 26.61px;
  width: 1463.77px;
  height: 69px;
  font-size: var(--font-size-19xl);
}
.frame97 {
  top: 944px;
  left: 0;
  width: 1517px;
  height: 1078px;
  font-size: var(--font-size-2xs);
}
.rectangle-icon2 {
  position: absolute;
  top: -67px;
  left: 248px;
  border-radius: var(--br-81xl);
  width: 1311px;
  height: 1288px;
}
.df53e02a8b0604d44a5548055596f-icon1 {
  position: absolute;
  top: 0;
  left: 792px;
  width: 685px;
  height: 800px;
  object-fit: cover;
}
.frame-parent5,
.rectangle56 {
  position: absolute;
  top: 0;
  left: 2px;
  width: 1517px;
  height: 2022px;
}
.rectangle56 {
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-200);
  width: 467.08px;
  height: 282px;
}
.peraturan-11 {
  position: absolute;
  top: -0.59px;
  left: 0;
  letter-spacing: 1.5px;
  line-height: 19.2px;
  text-transform: uppercase;
  display: inline-block;
  width: 122.77px;
}
.jaga-sopan-dan1,
.soapn-dan-santung1 {
  position: absolute;
  top: -1.59px;
  left: 0;
  line-height: 20.16px;
  display: inline-block;
  width: 243.52px;
}
.jaga-sopan-dan1 {
  top: 28px;
  left: 0.42px;
  font-size: var(--font-size-base);
  line-height: 26px;
  width: 356.63px;
}
.frame134 {
  position: absolute;
  top: 29px;
  left: 0;
  width: 381.45px;
  height: 108px;
  font-size: var(--font-size-lgi);
  color: var(--color-white);
}
.frame131,
.frame132,
.frame133 {
  position: absolute;
  top: 0;
  left: 0;
  width: 381.45px;
  height: 153px;
}
.frame131,
.frame132 {
  top: 31.59px;
  left: 42.58px;
  height: 216px;
}
.frame131 {
  top: 0.41px;
  left: 0;
  width: 467.08px;
  height: 282px;
  overflow: hidden;
}
.peraturan-21 {
  position: absolute;
  top: -0.59px;
  left: 0.46px;
  letter-spacing: 1.5px;
  line-height: 19.2px;
  text-transform: uppercase;
  display: inline-block;
  width: 122.77px;
}
.frame138 {
  position: absolute;
  top: 29px;
  left: -0.14px;
  width: 381.45px;
  height: 108px;
  font-size: var(--font-size-lgi);
  color: var(--color-white);
}
.frame135,
.frame136,
.frame137 {
  position: absolute;
  top: 0;
  left: 0;
  width: 381.45px;
  height: 179px;
}
.frame135,
.frame136 {
  top: 31.59px;
  left: 42.13px;
  height: 216px;
}
.frame135 {
  top: 0.41px;
  left: 499.01px;
  width: 467.08px;
  height: 282px;
  overflow: hidden;
}
.peraturan-31 {
  position: absolute;
  top: -0.59px;
  left: -0.42px;
  letter-spacing: 1.5px;
  line-height: 19.2px;
  text-transform: uppercase;
  display: inline-block;
  width: 122.77px;
}
.barang1,
.selanjutnya-peraturan-terkait1 {
  position: absolute;
  top: -1.59px;
  left: -0.42px;
  line-height: 20.16px;
  display: inline-block;
  width: 272.79px;
}
.selanjutnya-peraturan-terkait1 {
  top: 28px;
  left: 0.31px;
  font-size: var(--font-size-base);
  line-height: 26px;
  width: 356.63px;
}
.frame139,
.frame140 {
  position: absolute;
  top: 31.59px;
  left: 43px;
  width: 381.45px;
  height: 216px;
}
.frame139 {
  top: 0.41px;
  left: 996.7px;
  width: 467.08px;
  height: 282px;
  overflow: hidden;
}
.karyawan1,
.lalu-bersikap-baiklah1 {
  position: absolute;
  top: -1.59px;
  left: 0;
  line-height: 20.16px;
  display: inline-block;
  width: 216.9px;
}
.lalu-bersikap-baiklah1 {
  top: 33.41px;
  left: 0.42px;
  font-size: var(--font-size-base);
  line-height: 26px;
  width: 356.63px;
}
.frame143 {
  position: absolute;
  top: 306.41px;
  left: 0;
  width: 467.08px;
  height: 282px;
  overflow: hidden;
}
.di-perbolehkan-membawa1,
.makanan1 {
  position: absolute;
  top: 33.41px;
  left: 0.46px;
  line-height: 26px;
  display: inline-block;
  width: 356.63px;
}
.makanan1 {
  top: -1.59px;
  font-size: var(--font-size-lgi);
  line-height: 20.16px;
  width: 227.55px;
}
.frame150 {
  position: absolute;
  top: 29px;
  left: 0;
  width: 381.45px;
  height: 108px;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.frame147 {
  position: absolute;
  top: 306.41px;
  left: 499.01px;
  width: 467.08px;
  height: 282px;
  overflow: hidden;
}
.dillarang-merokok-sembarangan1,
.rokok1 {
  position: absolute;
  top: 33.41px;
  left: -0.42px;
  line-height: 26px;
  display: inline-block;
  width: 363.28px;
}
.rokok1 {
  top: -1.59px;
  font-size: var(--font-size-lgi);
  line-height: 20.16px;
  width: 153.03px;
}
.frame154 {
  position: absolute;
  top: 29px;
  left: 0;
  width: 381.45px;
  height: 134px;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.frame151 {
  position: absolute;
  top: 306.41px;
  left: 996.7px;
  width: 467.08px;
  height: 282px;
  overflow: hidden;
}
.dilarang-untuk-membawa1 {
  position: absolute;
  top: 33.41px;
  left: 0;
  line-height: 26px;
  display: inline-block;
  width: 365.94px;
}
.frame155,
.minuman1 {
  position: absolute;
  left: 0;
}
.minuman1 {
  top: -1.59px;
  font-size: var(--font-size-lgi);
  line-height: 20.16px;
  display: inline-block;
  width: 270.13px;
}
.frame155 {
  top: 612.41px;
  width: 467.08px;
  height: 282px;
  overflow: hidden;
}
.dilarang-membawa-sajam1,
.sajam1 {
  position: absolute;
  top: 33.41px;
  left: 0.46px;
  line-height: 26px;
  display: inline-block;
  width: 365.94px;
}
.sajam1 {
  top: -1.59px;
  font-size: var(--font-size-lgi);
  line-height: 20.16px;
  width: 215.57px;
}
.frame159 {
  position: absolute;
  top: 612.41px;
  left: 499.01px;
  width: 467.08px;
  height: 282px;
  overflow: hidden;
}
.rectangle64,
.rectangle65 {
  position: absolute;
  top: 0;
  left: 0;
}
.rectangle64 {
  border-radius: var(--br-sm);
  background-color: var(--color-gray-200);
  box-shadow: 0 58px 80px rgba(0, 0, 0, 0.16);
  width: 467.08px;
  height: 282px;
}
.rectangle65 {
  border-radius: var(--br-5xl);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 165px;
  height: 44px;
}
.youtube1 {
  position: absolute;
  top: 12px;
  left: 33px;
  line-height: 20px;
  text-transform: uppercase;
  display: inline-block;
  width: 67px;
}
.frame-icon1 {
  position: absolute;
  top: 13px;
  left: 108px;
  width: 26px;
  height: 19px;
  overflow: hidden;
}
.frame165 {
  position: relative;
  width: 165px;
  height: 44px;
  cursor: pointer;
}
.instagram1 {
  position: absolute;
  top: 12px;
  left: 24px;
  line-height: 20px;
  text-transform: uppercase;
  display: inline-block;
  width: 82px;
}
.image-3-icon1 {
  position: absolute;
  top: 9px;
  left: 119px;
  width: 25px;
  height: 25px;
  object-fit: cover;
}
.frame166 {
  position: relative;
  width: 165px;
  height: 44px;
  cursor: pointer;
  font-size: var(--font-size-sm);
}
.frame164 {
  position: absolute;
  top: 223px;
  left: 48px;
  width: 387px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xl);
}
.even-more-resources1,
.jangan-lupa-like1 {
  position: absolute;
  top: -4.31px;
  left: 0;
  line-height: 37.8px;
  display: inline-block;
  width: 296.92px;
}
.jangan-lupa-like1 {
  top: 62.69px;
  font-size: var(--font-size-lg);
  line-height: 27.3px;
  color: var(--color-silver);
  width: 351.61px;
}
.frame163,
.frame167 {
  position: absolute;
  top: 53.31px;
  left: 47.75px;
  width: 371.58px;
  height: 142px;
  text-align: left;
  font-size: var(--font-size-16xl);
  font-family: var(--font-abel);
}
.frame163 {
  top: 609px;
  left: 996px;
  width: 467.08px;
  height: 282px;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
.frame130 {
  position: absolute;
  top: 195px;
  left: 27px;
  width: 1463.77px;
  height: 894px;
}
.about2,
.beberapa-ketentuan-atau1 {
  position: absolute;
  left: 0;
  display: inline-block;
}
.about2 {
  top: -3.59px;
  letter-spacing: 0.68px;
  line-height: 42px;
  width: 264.81px;
}
.beberapa-ketentuan-atau1 {
  top: 41.41px;
  font-size: var(--font-size-xl);
  line-height: 27.3px;
  color: var(--color-silver);
  width: 727.89px;
}
.frame129,
.frame168 {
  position: absolute;
  top: 100px;
  left: 27px;
  width: 1463.77px;
  height: 69px;
  font-size: var(--font-size-18xl);
  color: var(--color-white);
}
.frame129 {
  top: 2103px;
  left: 0;
  width: 1517px;
  height: 968px;
  font-size: var(--font-size-xs);
  color: var(--color-blueviolet);
}
.group-parent43 {
  position: absolute;
  top: 67px;
  left: 39px;
  width: 1519px;
  height: 3071px;
}
.vector-icon74,
.vector-icon75 {
  position: absolute;
  left: 536.74px;
}
.vector-icon74 {
  top: 146.55px;
  width: 1992.18px;
  height: 266.31px;
  mix-blend-mode: multiply;
}
.vector-icon75 {
  top: 48.22px;
  width: 1401.43px;
  height: 324.46px;
}
.ge-king1 {
  position: absolute;
  top: 133.22px;
  left: 606.74px;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.vector-icon76,
.vector-icon77 {
  position: absolute;
  top: 272.09px;
  left: 536.74px;
  width: 2061.67px;
  height: 202px;
  mix-blend-mode: color-burn;
}
.vector-icon77 {
  top: 48.22px;
  width: 1283.4px;
  height: 125.76px;
}
.vector-icon78,
.vector-icon79 {
  position: absolute;
  top: 213.39px;
  left: 536.74px;
  width: 2067.09px;
  height: 257.67px;
}
.vector-icon79 {
  top: 319.5px;
  width: 2014.77px;
  height: 180.62px;
  mix-blend-mode: color-burn;
}
.group8,
.group9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 2354.36px;
  height: 500.11px;
}
.group8 {
  top: -48.22px;
  left: -536.74px;
}
.group5,
.isolation-mode4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1600px;
  height: 379px;
}
.group5 {
  top: 3294px;
  font-size: var(--font-size-51xl);
  font-family: var(--font-poppins);
}
.solusi-booking-tempat2 {
  position: absolute;
  top: 3484px;
  left: 79px;
  font-size: var(--font-size-2xl);
  line-height: 24.34px;
  display: inline-block;
  width: 430px;
}
.rectangle67 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-black);
  width: 1626px;
  height: 67px;
}
.frame-child188,
.frame170,
.image-15 {
  position: absolute;
  top: -12px;
  left: 361.54px;
  width: 273.65px;
  height: 27px;
}
.frame-child188,
.image-15 {
  top: 2px;
  left: 36px;
  width: 181.69px;
}
.frame-child188 {
  top: -14px;
  left: 53px;
  border-radius: var(--br-mini);
  background-color: var(--color-lightslategray-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  width: 660px;
  height: 36px;
}
.vector-icon80 {
  position: absolute;
  top: -8px;
  left: 668px;
  width: 22.53px;
  height: 24px;
}
.search5 {
  position: absolute;
  top: -10px;
  left: 71px;
  line-height: 27.3px;
}
.frame169 {
  position: absolute;
  top: 23px;
  left: 21px;
  width: 668px;
  height: 3.94px;
  font-size: var(--font-size-mid);
  color: var(--color-lightslategray-100);
}
.rectangle68,
.vector-icon81 {
  position: absolute;
  top: 47.36px;
  left: 793.57px;
  width: 22.53px;
  height: 3.34px;
}
.rectangle68 {
  top: 0;
  left: 0;
  border-radius: var(--br-5xl);
  background-color: var(--color-darkorchid);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 157px;
  height: 39px;
}
.sign-up2 {
  position: absolute;
  top: 8px;
  left: 25px;
  line-height: 20px;
  text-transform: uppercase;
  display: inline-block;
  width: 96px;
  height: 16px;
}
.rectangle-parent162 {
  position: absolute;
  top: 13px;
  left: 1386px;
  width: 157px;
  height: 39px;
  cursor: pointer;
  color: var(--color-white);
}
.about3,
.list-room5,
.login5,
.my-book5 {
  position: absolute;
  top: 20px;
  left: 1296px;
  line-height: 20px;
  text-transform: uppercase;
  display: inline-block;
  width: 84px;
  height: 24px;
  cursor: pointer;
}
.about3,
.list-room5,
.my-book5 {
  left: 1221px;
  height: 19px;
}
.about3,
.list-room5 {
  left: 1133px;
  height: 24px;
}
.about3 {
  left: 1049px;
}
.rectangle-parent161 {
  position: absolute;
  top: 38px;
  left: -8px;
  width: 1626px;
  height: 67px;
  text-align: center;
  font-size: var(--font-size-lgi);
  color: var(--color-darkorchid);
}
.desktop-1 {
  position: relative;
  background-color: var(--color-black);
  width: 100%;
  height: 3673px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-abel);
}
