.background-icon7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1600px;
  height: 900px;
  overflow: hidden;
  mix-blend-mode: normal;
}
.group-child108,
.image-icon22,
.image-icon23 {
  position: absolute;
  top: 0;
  border-radius: var(--br-31xl);
}
.group-child108 {
  left: calc(50% - 646px);
  background-color: var(--color-darkslategray-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1292px;
  height: 707px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.image-icon22,
.image-icon23 {
  width: 81.58%;
  right: 100%;
  left: -81.58%;
  max-width: 100%;
  overflow: hidden;
  height: 708px;
  object-fit: cover;
}
.image-icon23 {
  width: 100%;
  left: -100%;
  height: 707px;
}
.group-child109 {
  position: absolute;
  top: 0;
  left: calc(50% - 1938px);
  width: 849px;
  height: 715px;
}
.room-041 {
  position: absolute;
  top: 65px;
  left: -1146px;
  line-height: 20px;
  text-transform: uppercase;
  display: inline-block;
  width: 394px;
  height: 60px;
}
.rectangle-parent69 {
  position: absolute;
  top: 0;
  left: calc(50% + 646px);
  width: 1292px;
  height: 708px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.group-child110 {
  position: absolute;
  height: 79.05%;
  width: 100.42%;
  top: 8.45%;
  right: -0.21%;
  bottom: 12.5%;
  left: -0.21%;
  border-radius: var(--br-xs);
  background-color: var(--color-darkslategray-300);
  border: 1px solid var(--color-gray-500);
  box-sizing: border-box;
}
.room-menyediakan-pelayanan20 {
  margin: 0;
}
.sofa-menyatu-ps51 {
  margin-bottom: 0;
}
.sofa-menyatu-ps5-free-wifi-p1 {
  margin: 0;
  padding-left: var(--padding-lgi);
}
.deskripsi20,
.room-menyediakan-pelayanan-container20 {
  position: absolute;
  height: 88.85%;
  width: 94.7%;
  top: 11.15%;
  left: 3.18%;
  line-height: 20px;
  text-transform: uppercase;
  display: inline-block;
}
.deskripsi20 {
  top: 0;
  left: 15px;
  font-size: var(--font-size-base);
  font-family: var(--font-abel);
  color: var(--color-white);
  width: 116px;
  height: 20px;
  text-shadow: 0 4px 100px #000;
}
.rectangle-parent70 {
  position: absolute;
  height: 41.81%;
  width: 36.53%;
  top: 19.63%;
  right: 55.19%;
  bottom: 38.56%;
  left: 8.28%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  text-align: left;
  font-size: var(--font-inherit);
  color: var(--color-gray-600);
  font-family: var(--font-inherit);
}
.group-child111 {
  position: absolute;
  height: 74.65%;
  width: 100.42%;
  top: 26.76%;
  right: -0.21%;
  bottom: -1.41%;
  left: -0.21%;
  border-radius: var(--br-xs);
  background-color: var(--color-darkslategray-300);
  border: 1px solid var(--color-gray-500);
  box-sizing: border-box;
}
.harga17,
.rp-120000006 {
  position: absolute;
  top: 50.7%;
  left: 15.47%;
  line-height: 20px;
  text-transform: uppercase;
}
.harga17 {
  top: 0;
  left: 22px;
  font-size: var(--font-size-base);
  color: var(--color-white);
  text-shadow: 0 4px 100px #000;
}
.vector-icon29 {
  position: absolute;
  height: 43.66%;
  width: 6.57%;
  top: 42.25%;
  right: 88.56%;
  bottom: 14.08%;
  left: 4.87%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent71 {
  position: absolute;
  height: 10.03%;
  width: 36.53%;
  top: 57.77%;
  right: 55.18%;
  bottom: 32.2%;
  left: 8.28%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: var(--font-size-3xl);
  color: var(--color-gray-600);
}
.rating21 {
  position: absolute;
  top: 507px;
  left: 130px;
  font-size: var(--font-size-base);
  line-height: 20px;
  text-transform: uppercase;
  text-shadow: 0 4px 100px #000;
}
.frame-child81 {
  position: absolute;
  top: 533px;
  left: 123.17px;
  width: 48px;
  height: 48px;
}
.frame-child82,
.frame-child83,
.frame-child84,
.frame-child85 {
  position: absolute;
  top: 533px;
  left: 181.17px;
  width: 48px;
  height: 48px;
}
.frame-child83,
.frame-child84,
.frame-child85 {
  left: 239.17px;
}
.frame-child84,
.frame-child85 {
  left: 297.17px;
}
.frame-child85 {
  left: 355.17px;
}
.group-parent20 {
  position: absolute;
  top: calc(50% - 354px);
  left: calc(50% - 646px);
  box-shadow: 30px 32px 4px rgba(0, 0, 0, 0.25);
  width: 1292px;
  height: 708px;
  text-align: center;
}
.group-child112 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xl);
  width: 151px;
  height: 42px;
}
.next6 {
  position: absolute;
  top: 11px;
  left: 52px;
  line-height: 20px;
  text-transform: uppercase;
}
.vector-parent4 {
  position: absolute;
  top: 723px;
  left: 424px;
  width: 151px;
  height: 42px;
  cursor: pointer;
  font-size: var(--font-size-5xl);
}
.room-kosong6 {
  position: absolute;
  top: 58px;
  left: 33px;
  line-height: 20px;
  text-transform: uppercase;
  display: inline-block;
  width: 116px;
  height: 20px;
  text-shadow: 0 4px 100px #000;
}
.group-child113 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-darkslategray-300);
  border: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 21px;
  height: 21px;
}
.sedang-di-pakai6 {
  position: absolute;
  top: 0;
  left: 33px;
  line-height: 20px;
  text-transform: uppercase;
  display: inline-block;
  width: 116px;
  height: 20px;
  text-shadow: 0 4px 100px #000;
}
.group-child114 {
  position: absolute;
  top: 58px;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-red);
  border: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 21px;
  height: 21px;
}
.room-kosong-parent4 {
  position: absolute;
  top: 603px;
  left: 584px;
  width: 149px;
  height: 79px;
  font-size: var(--font-size-base);
}
.component-1-icon6 {
  position: absolute;
  height: 5.33%;
  width: 3%;
  top: 2.72%;
  right: 94.41%;
  bottom: 91.94%;
  left: 2.59%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.background-parent2 {
  position: relative;
  background-color: var(--color-black);
  width: 100%;
  height: 900px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-77xl);
  color: var(--color-white);
  font-family: var(--font-abel);
}
