.background-icon20,
.vector-icon71 {
  position: absolute;
  top: 0;
  left: 0;
  width: 2163px;
  height: 1111px;
  overflow: hidden;
}
.vector-icon71 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
}
.group-child245 {
  position: absolute;
  height: 90.54%;
  width: 100.77%;
  top: -3.02%;
  right: -0.39%;
  bottom: 12.48%;
  left: -0.39%;
  border-radius: var(--br-31xl);
  background-color: var(--color-darkslategray-300);
  border: 1px solid var(--color-gray-500);
  box-sizing: border-box;
}
.vector-icon72 {
  position: absolute;
  height: 50.7%;
  width: 6.49%;
  top: 16.9%;
  right: 89.19%;
  bottom: 32.4%;
  left: 4.32%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.name-account1 {
  position: absolute;
  height: 84.5%;
  width: 45.41%;
  top: 15.5%;
  left: 8.27%;
  line-height: 20px;
  text-transform: uppercase;
  display: inline-block;
}
.rectangle-parent155 {
  position: absolute;
  height: 6.08%;
  width: 53.36%;
  top: 67.86%;
  right: 23.28%;
  bottom: 26.05%;
  left: 23.36%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.group-child246 {
  position: absolute;
  height: 92.85%;
  width: 100.77%;
  top: -3.09%;
  right: -0.39%;
  bottom: 10.24%;
  left: -0.39%;
  border-radius: var(--br-31xl);
  background-color: var(--color-darkslategray-300);
  border: 1px solid var(--color-gray-500);
  box-sizing: border-box;
}
.mdipassword-icon2 {
  position: absolute;
  height: 65%;
  width: 8.11%;
  top: 13%;
  right: 89.19%;
  bottom: 22%;
  left: 2.7%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.password1 {
  position: absolute;
  height: 86.67%;
  width: 45.41%;
  top: 13.33%;
  left: 4.8%;
  line-height: 20px;
  text-transform: uppercase;
  display: inline-block;
}
.rectangle-parent156 {
  position: absolute;
  height: 5.93%;
  width: 53.36%;
  top: 74.81%;
  right: 23.28%;
  bottom: 19.26%;
  left: 23.36%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.sign-up {
  position: absolute;
  height: 5.14%;
  top: 60.73%;
  left: calc(50% - 39px);
  font-size: var(--font-size-xl);
  line-height: 20px;
  text-transform: uppercase;
  color: var(--color-white);
  display: inline-block;
  width: 80px;
}
.objects-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 716px;
  height: 315px;
  overflow: hidden;
}
.group-child247 {
  position: absolute;
  top: 0;
  left: calc(50% - 36.5px);
  border-radius: var(--br-31xl);
  background-color: var(--color-mediumslateblue);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 73px;
  height: 19px;
}
.next17 {
  position: absolute;
  top: 0;
  left: 25px;
  line-height: 20px;
  text-transform: uppercase;
}
.rectangle-parent157 {
  position: absolute;
  top: 468px;
  left: calc(50% - 36px);
  width: 73px;
  height: 20px;
  cursor: pointer;
  color: var(--color-white);
}
.isolation-mode-inner {
  position: absolute;
  top: 286px;
  left: 226px;
  width: 36px;
  height: 36px;
}
.login4 {
  position: absolute;
  top: 440px;
  left: 124px;
  font-size: var(--font-size-3xs);
  line-height: 20px;
  text-transform: uppercase;
  color: var(--color-mediumslateblue);
  cursor: pointer;
}
.isolation-mode3 {
  position: absolute;
  top: calc(50% - 273px);
  left: calc(50% - 621px);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 486px;
  height: 545px;
  overflow: hidden;
  font-size: var(--font-size-xs);
  color: var(--color-gray-300);
}
.frame-child180 {
  position: absolute;
  top: 0.5px;
  left: 752.04px;
  border-radius: var(--br-11xs);
  width: 847px;
  height: 896.5px;
}
.sign-up1 {
  position: absolute;
  top: 200px;
  left: 1159px;
  font-size: var(--font-size-51xl);
  line-height: 20px;
  text-transform: uppercase;
  display: inline-block;
  width: 223px;
  height: 29px;
}
.group-child248,
.group-child249 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-gray-100);
  width: 455px;
  height: 83px;
}
.group-child249 {
  border-radius: var(--br-mini) 0 0 var(--br-mini);
  background-color: var(--color-white);
  width: 115px;
}
.image-2-icon1 {
  position: absolute;
  top: 20px;
  left: 35px;
  width: 42px;
  height: 42px;
  object-fit: cover;
}
.sigh-up-with {
  position: absolute;
  top: 31px;
  left: 141px;
  line-height: 20px;
  text-transform: uppercase;
}
.rectangle-parent158 {
  position: absolute;
  top: 286px;
  left: 1043px;
  width: 455px;
  height: 83px;
  cursor: pointer;
}
.icbaseline-facebook-icon1 {
  position: absolute;
  top: 17px;
  left: 31px;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.sigh-up-with1 {
  position: absolute;
  top: 32px;
  left: 141px;
  line-height: 20px;
  text-transform: uppercase;
}
.rectangle-parent159 {
  position: absolute;
  top: 421px;
  left: 1043px;
  width: 455px;
  height: 83px;
  cursor: pointer;
}
.icbaseline-apple-icon1 {
  position: absolute;
  top: 17px;
  left: 33px;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.component-1-icon17,
.rectangle-parent160 {
  position: absolute;
  top: 561px;
  left: 1043px;
  width: 455px;
  height: 83px;
  cursor: pointer;
}
.component-1-icon17 {
  height: 5.33%;
  width: 3%;
  top: 2.72%;
  right: 94.41%;
  bottom: 91.94%;
  left: 2.59%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.background-parent15 {
  position: relative;
  background-color: var(--color-black);
  width: 100%;
  height: 900px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-abel);
}
